.mobile-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-align: center;

    font-size: 14px;

    a {
        color: #000;
    }
}